Marine 1 2
XXIXX
XXXIX
XIIIX
IXXXX
IXXXX
Captain 2 4
XXXXX
IXIXI
XIIIX
IXIXI
XXXXX
Ranger 1 3
IXXXI
IXXXI
XIIIX
IXXXI
IXXXI
Sorcerer 3 5
XXIXX
IXIXI
XIIIX
IXIXI
XXIXX
Phoenix 3 7
IIIII
XIIIX
XIXIX
XIIIX
IIIII
Fighter 2 3
XXXXX
IIIXX
XIIIX
XIIIX
XXXXX
Spy 1 1
XXXXX
XXXXX
XXIXX
XXXXX
XXXXX
Medic 2 2
XXXXX
IXXXI
XIXIX
IXXXI
XXXXX
Crusader 3 6
XIXIX
IXIXI
XIIIX
IXIXI
XIXIX
Ninja 2 4
IXXXX
XIXXX
XXIXX
XXXIX
XXXXI
Viking 3 5
XIIIX
IIIXX
XIIIX
XIIIX
XIIIX
Sentinel 1 2
XXXXX
IXIXI
XIXIX
IXIXI
XXXXX
Warlock 3 6
IXIXI
XIXIX
IXIXI
XIXIX
IXIXI
Thief 2 3
XXIXX
XIXXX
XXIXX
XXXIX
XXIXX
Hero 3 8
IIIII
XIIIX
XIXIX
XIIIX
IIIII
Recruit 1 2
XXXXX
XIXIX
XIXIX
XIXIX
XXXXX
Cavalry 2 4
XXIXX
XIXIX
XIIIX
XIXIX
XXIXX
Cleric 1 3
XXXXX
IXXXI
XIXIX
IXXXI
XXXXX
Samurai 2 4
IXXXX
XIXXX
XXIXX
XXXIX
XXXXI
Commander 3 7
IIIII
XIIIX
XIXIX
XIIIX
IIIII
Rifleman 1 2
XXIXX
XXXIX
XIIIX
IXXXX
IXXXX
Horseman 2 3
XXXXX
IXIXI
XIIIX
IXIXI
XXXXX
Sharpshooter 1 3
IXXXI
IXXXI
XIIIX
IXXXI
IXXXI
Healer 2 2
XXXXX
IXXXI
XIXIX
IXXXI
XXXXX
Knight 3 6
XIXIX
IXIXI
XIIIX
IXIXI
XIXIX
Rogue 2 4
IXXXX
XIXXX
XXIXX
XXXIX
XXXXI
Warchief 3 5
XIIIX
IIIXX
XIIIX
XIIIX
XIIIX
Guard 1 2
XXXXX
IXIXI
XIXIX
IXIXI
XXXXX
Mage 3 6
IXIXI
XIXIX
IXIXI
XIXIX
IXIXI
Assassin 2 3
XXIXX
XIXXX
XXIXX
XXXIX
XXIXX
Champion 3 8
IIIII
XIIIX
XIXIX
XIIIX
IIIII
Trooper 1 2
XXXXX
XIXIX
XIXIX
XIXIX
XXXXX
Dragoon 2 4
XXIXX
XIXIX
XIIIX
XIXIX
XXIXX
Priest 1 3
XXXXX
IXXXI
XIXIX
IXXXI
XXXXX
Duelist 2 4
IXXXX
XIXXX
XXIXX
XXXIX
XXXXI
General 3 7
IIIII
XIIIX
XIXIX
XIIIX
IIIII
Soldier 1 2
XXIXX
XXXIX
XIIIX
IXXXX
IXXXX
Lancer 2 3
XXXXX
IXIXI
XIIIX
IXIXI
XXXXX
Archer 1 3
IXXXI
IXXXI
XIIIX
IXXXI
IXXXI
Monk 2 2
XXXXX
IXXXI
XIXIX
IXXXI
XXXXX
Paladin 3 6
XIXIX
IXIXI
XIIIX
IXIXI
XIXIX
Bandit 2 4
IXXXX
XIXXX
XXIXX
XXXIX
XXXXI
Warlord 3 5
XIIIX
IIIXX
XIIIX
XIIIX
XIIIX
Defender 1 2
XXXXX
IXIXI
XIXIX
IXIXI
XXXXX
Wizard 3 6
IXIXI
XIXIX
IXIXI
XIXIX
IXIXI
Mercenary 2 3
XXIXX
XIXXX
XXIXX
XXXIX
XXIXX
Legend 3 8
IIIII
XIIIX
XIXIX
XIIIX
IIIII
Infantry 1 2
XXXXX
XIXIX
XIXIX
XIXIX
XXXXX
Rider 2 4
XXIXX
XIXIX
XIIIX
XIXIX
XXIXX
Acolyte 1 3
XXXXX
IXXXI
XIXIX
IXXXI
XXXXX
Warrior 2 4
IXXXX
XIXXX
XXIXX
XXXIX
XXXXI
Marshal 3 7
IIIII
XIIIX
XIXIX
XIIIX
IIIII
Scout 1 1
XXXXX
XXXXX
XXIXX
XXXXX
XXXXX
Marksman 1 2
IXXXI
IXXXI
XIIIX
IXXXI
IXXXI
Veteran 1 2
XXXXX
XIXIX
XIXIX
XIXIX
XXXXX
Artillery 2 5
IIIII
XIIIX
XIXIX
XIIIX
IIIII
Cadet 1 1
XXXXX
XXXXX
XXIXX
XXXXX
XXXXX
Titan 3 6
XIXIX
IXIXI
XIIIX
IXIXI
XIXIX
Pillager 2 4
IXXXX
XIXXX
XXIXX
XXXIX
XXXXI
Lord 3 7
IIIII
XIIIX
XIXIX
XIIIX
IIIII
Striker 1 2
XXIXX
XXXIX
XIIIX
IXXXX
IXXXX
Raider 2 3
XXXXX
IXIXI
XIIIX
IXIXI
XXXXX
Tracker 1 3
IXXXI
IXXXI
XIIIX
IXXXI
IXXXI
Oracle 2 2
XXXXX
IXXXI
XIXIX
IXXXI
XXXXX
Duke 3 6
XIXIX
IXIXI
XIIIX
IXIXI
XIXIX
Slayer 2 4
IXXXX
XIXXX
XXIXX
XXXIX
XXXXI
Chieftain2 3 5
XIIIX
IIIXX
XIIIX
XIIIX
XIIIX
Protector 1 2
XXXXX
IXIXI
XIXIX
IXIXI
XXXXX
Summoner 3 6
IXIXI
XIXIX
IXIXI
XIXIX
IXIXI
Hired 2 3
XXIXX
XIXXX
XXIXX
XXXIX
XXIXX
Emperor 3 8
IIIII
XIIIX
XIXIX
XIIIX
IIIII
Footsoldier 1 2
XXXXX
XIXIX
XIXIX
XIXIX
XXXXX
Cuirassier 2 4
XXIXX
XIXIX
XIIIX
XIXIX
XXIXX
Vicar 1 3
XXXXX
IXXXI
XIXIX
IXXXI
XXXXX
Fencer 2 4
IXXXX
XIXXX
XXIXX
XXXIX
XXXXI
Monarch 3 7
IIIII
XIIIX
XIXIX
XIIIX
IIIII
Trainee 1 1
XXXXX
XXXXX
XXIXX
XXXXX
XXXXX
Crossbowman 1 3
IXXXI
IXXXI
XIIIX
IXXXI
IXXXI