Soldier 1 2
XXIXX
XXXIX
XIIIX
IXXXX
IXXXX
Knight 2 4
XXXXX
IXIXI
XIIIX
IXIXI
XXXXX
Archer 1 3
IXXXI
IXXXI
XIIIX
IXXXI
IXXXI
Mage 3 5
XXIXX
IXIXI
XIIIX
IXIXI
XXIXX
Dragon 3 7
IIIII
XIIIX
XIXIX
XIIIX
IIIII
Warrior 2 3
XXXXX
IIIXX
XIIIX
XIIIX
XXXXX
Scout 1 1
XXXXX
XXXXX
XXIXX
XXXXX
XXXXX
Healer 2 2
XXXXX
IXXXI
XIXIX
IXXXI
XXXXX
Paladin 3 6
XIXIX
IXIXI
XIIIX
IXIXI
XIXIX
Assassin 2 4
IXXXX
XIXXX
XXIXX
XXXIX
XXXXI
Berserker 3 5
XIIIX
IIIXX
XIIIX
XIIIX
XIIIX
Guard 1 2
XXXXX
IXIXI
XIXIX
IXIXI
XXXXX
Wizard 3 6
IXIXI
XIXIX
IXIXI
XIXIX
IXIXI
Rogue 2 3
XXIXX
XIXXX
XXIXX
XXXIX
XXIXX
Champion 3 8
IIIII
XIIIX
XIXIX
XIIIX
IIIII
Footman 1 2
XXXXX
XIXIX
XIXIX
XIXIX
XXXXX
Cavalry 2 4
XXIXX
XIXIX
XIIIX
XIXIX
XXIXX
Priest 1 3
XXXXX
IXXXI
XIXIX
IXXXI
XXXXX
Duelist 2 4
IXXXX
XIXXX
XXIXX
XXXIX
XXXXI
General 3 7
IIIII
XIIIX
XIXIX
XIIIX
IIIII
Spearman 1 2
XXIXX
XXXIX
XIIIX
IXXXX
IXXXX
Lancer 2 3
XXXXX
IXIXI
XIIIX
IXIXI
XXXXX
Marksman 1 3
IXXXI
IXXXI
XIIIX
IXXXI
IXXXI
Cleric 2 2
XXXXX
IXXXI
XIXIX
IXXXI
XXXXX
Templar 3 6
XIXIX
IXIXI
XIIIX
IXIXI
XIXIX
Bandit 2 4
IXXXX
XIXXX
XXIXX
XXXIX
XXXXI
Warlord 3 5
XIIIX
IIIXX
XIIIX
XIIIX
XIIIX
Sentinel 1 2
XXXXX
IXIXI
XIXIX
IXIXI
XXXXX
Sorcerer 3 6
IXIXI
XIXIX
IXIXI
XIXIX
IXIXI
Mercenary 2 3
XXIXX
XIXXX
XXIXX
XXXIX
XXIXX
Commander 3 8
IIIII
XIIIX
XIXIX
XIIIX
IIIII
Pikeman 1 2
XXXXX
XIXIX
XIXIX
XIXIX
XXXXX
Ranger 2 4
XXIXX
XIXIX
XIIIX
XIXIX
XXIXX
Monk 1 3
XXXXX
IXXXI
XIXIX
IXXXI
XXXXX
Gladiator 2 4
IXXXX
XIXXX
XXIXX
XXXIX
XXXXI
Marshal 3 7
IIIII
XIIIX
XIXIX
XIIIX
IIIII
Crossbow 1 2
XXIXX
XXXIX
XIIIX
IXXXX
IXXXX
Halberd 2 3
XXXXX
IXIXI
XIIIX
IXIXI
XXXXX
Sniper 1 3
IXXXI
IXXXI
XIIIX
IXXXI
IXXXI
Bishop 2 2
XXXXX
IXXXI
XIXIX
IXXXI
XXXXX
Inquisitor 3 6
XIXIX
IXIXI
XIIIX
IXIXI
XIXIX
Outlaw 2 4
IXXXX
XIXXX
XXIXX
XXXIX
XXXXI
Chieftain 3 5
XIIIX
IIIXX
XIIIX
XIIIX
XIIIX
Watchman 1 2
XXXXX
IXIXI
XIXIX
IXIXI
XXXXX
Conjurer 3 6
IXIXI
XIXIX
IXIXI
XIXIX
IXIXI
Bounty 2 3
XXIXX
XIXXX
XXIXX
XXXIX
XXIXX
Legend 3 8
IIIII
XIIIX
XIXIX
XIIIX
IIIII
Infantry 1 2
XXXXX
XIXIX
XIXIX
XIXIX
XXXXX
Mounted 2 4
XXIXX
XIXIX
XIIIX
XIXIX
XXIXX
Acolyte 1 3
XXXXX
IXXXI
XIXIX
IXXXI
XXXXX
Swordsman 2 4
IXXXX
XIXXX
XXIXX
XXXIX
XXXXI
Leader 3 7
IIIII
XIIIX
XIXIX
XIIIX
IIIII
Militia 1 1
XXXXX
XXXXX
XXIXX
XXXXX
XXXXX
Bowman 1 2
IXXXI
IXXXI
XIIIX
IXXXI
IXXXI
Veteran 1 2
XXXXX
XIXIX
XIXIX
XIXIX
XXXXX
Cannon 2 5
IIIII
XIIIX
XIXIX
XIIIX
IIIII
Squire 1 1
XXXXX
XXXXX
XXIXX
XXXXX
XXXXX
Brute 3 6
XIXIX
IXIXI
XIIIX
IXIXI
XIXIX
Raider 2 4
IXXXX
XIXXX
XXIXX
XXXIX
XXXXI
Baron 3 7
IIIII
XIIIX
XIXIX
XIIIX
IIIII
Skirmisher 1 2
XXIXX
XXXIX
XIIIX
IXXXX
IXXXX
Charger 2 3
XXXXX
IXIXI
XIIIX
IXIXI
XXXXX
Hunter 1 3
IXXXI
IXXXI
XIIIX
IXXXI
IXXXI
Sage 2 2
XXXXX
IXXXI
XIXIX
IXXXI
XXXXX
Noble 3 6
XIXIX
IXIXI
XIIIX
IXIXI
XIXIX
Cutthroat 2 4
IXXXX
XIXXX
XXIXX
XXXIX
XXXXI
Khan 3 5
XIIIX
IIIXX
XIIIX
XIIIX
XIIIX
Watchdog 1 2
XXXXX
IXIXI
XIXIX
IXIXI
XXXXX
Enchanter 3 6
IXIXI
XIXIX
IXIXI
XIXIX
IXIXI
Sellsword 2 3
XXIXX
XIXXX
XXIXX
XXXIX
XXIXX
Overlord 3 8
IIIII
XIIIX
XIXIX
XIIIX
IIIII
Levy 1 2
XXXXX
XIXIX
XIXIX
XIXIX
XXXXX
Hussar 2 4
XXIXX
XIXIX
XIIIX
XIXIX
XXIXX
Deacon 1 3
XXXXX
IXXXI
XIXIX
IXXXI
XXXXX
Champion2 2 4
IXXXX
XIXXX
XXIXX
XXXIX
XXXXI
Sovereign 3 7
IIIII
XIIIX
XIXIX
XIIIX
IIIII
Conscript 1 1
XXXXX
XXXXX
XXIXX
XXXXX
XXXXX
Longbow 1 3
IXXXI
IXXXI
XIIIX
IXXXI
IXXXI